::selection {
  background-color: #FDB728; /* Arka plan rengi */
  color: #000000; /* Metin rengi */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 350px;
  height: 300px;
  background-color: rgb(249, 249, 249);
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 100px;
}

.span {
  font-size: 21px;
  color: #FDB728;
}


.img-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.icon {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.btn-div {
  margin: 20px;
}
.btn-div a {
  text-decoration: none;
}
.download-btn {
  background-color: #FDB728;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
}

.download-btn:hover {
  opacity: 0.6;
  transition: all 0.5s;
  cursor: pointer;
}

.footer-div{
  position: fixed;
  bottom:60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #013B4F;
  font-size: 15px;
}
.footer-title{
  color: #FDB728;
  font-weight: 600;
}